:root {
  --display-calc: '';
  --display-scratch: 'none';
}

.switch {
  display: none;
}

@media screen and (max-width: 500px) {
  .calculator {
    display: var(--display-calc);
  }

  .scratch-pad {
    display: var(--display-scratch);
  }

  .switch {
    display: block;
  }
}
