@import '~bootstrap/scss/bootstrap';

  .category-image {
    height: 250px;
  }

  .problem-board {
    text-align: center;
  }

  .popup {
  background-color: #FFF;
  border-style: double;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 450px;
  padding: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.shadow {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.top {
  padding-top: 10%;
}

.problem-title {
  font-family: Righteous;
  font-size: 60px;
}

.problem-category {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

.problem-info {
  float: right;
  width: 150px;
  text-align: right;
}

.question {
  margin: 20px;
  overflow: hidden;
  overflow-y: scroll;
  height: 400px;
  background-color: rgba(194, 118, 11, .40);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
  border-radius: 10px;
  border: 1px solid transparent;
  border-top: none;
}

.question::-webkit-scrollbar {
  display: none;
}

.question-content {
  font-size: 40px;
  padding: 100px;
}

.problems-list {
  word-wrap: break-word;
  color: black;
  margin: 5px;
  text-align: center;
  background-color: rgba(193, 117, 11, 0.5);
  overflow: hidden;
}

.title {
  font-family: Righteous;
  overflow-y: hidden;
  font-size: 25px;
}

.title::-webkit-scrollbar {
  display: none;
}

.title-box {
  height: 90px;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.title-box::-webkit-scrollbar {
  display: none;
}

.user-email {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.user-email::-webkit-scrollbar {
  display: none;
}

.lower-buttons {
  margin: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .problem-title {
    font-size: 40px;
  }

  .question-content {
    font-size: 35px;
    padding: 30px;
  }
}

@media screen and (max-width: 500px) {
  .form-field {
    width: 50vw;
  }

  .lower-buttons {
    margin: 30px;
  }

  .problem-title {
    font-size: 30px;
  }

  .question {
    height: 40vh;
  }

  .question-content {
    font-size: 20px;
    padding: 20px;
  }
}
