@import '~bootstrap/scss/bootstrap';

body {
  height: 100%;
  position: relative;
  // text-align: center;
  padding-top: 5rem;
  background-image: url('/HomePage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 100px;
}
